:root {
  --ff-main: 'Montserrat', sans-serif;
  --color-accent-blue: #a9b3c1;
  --color-accent-red: #ef476e;
  --font-color-primary: #fff;
  --bg-color-primary: #445d7b;
  --bg-color-primary-drk: #33465c;
}

@media (min-width: 20rem) and (max-width: 47rem) {
  /*    GLOBALS     */
  /* ================ */

  html {
    padding: 0 0.625rem 0 0.625rem;
    scroll-behavior: smooth;
    scroll-padding-top: 22rem;
    color: var(--font-color-primary);
    background-color: var(--bg-color-primary);
  }

  /*    UTILITIES     */
  /* ================ */

  .hide-sm-screen {
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  /*        NAV       */
  /* ================ */

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.3125rem 0 0.3125rem 0;
    position: sticky;
    top: 0;
    background-color: var(--bg-color-primary);
  }

  nav h1 {
    font-weight: bold;
    margin: 0.625rem 0 0.25rem 0;
    text-align: center;
  }

  nav h1 a:hover {
    color: var(--color-accent-red);
  }

  .contact-icon {
    border: none;
  }

  .contact-icon img {
    margin: 0.5rem 0.5rem 0 0.5rem;
    width: 2.5rem;
  }

  .hamburger-menu {
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .line {
    height: 5px;
    width: 100%;
    background-color: var(--color-accent-blue);
    border-radius: 10px;
    transition: 0.25s linear;
  }

  .line1-open-menu {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .line2-open-menu {
    display: none;
  }

  .line3-open-menu {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /*      HEADER      */
  /* ================ */

  header {
    display: block;
  }

  header h2,
  h3,
  h4 {
    margin: 1rem 0;
  }

  header h3,
  h4 {
    font-size: 2rem;
    font-weight: bold;
  }

  header h3 {
    color: var(--color-accent-red);
  }

  header img {
    display: block;
    margin: auto;
    width: 18rem;
  }

  /*      ABOUT       */
  /* ================ */

  section h2 {
    font-size: 2rem;
    font-weight: bold;
  }

  section p {
    margin: 0.75rem 0;
  }

  .headshot {
    width: 12rem;
    border-radius: 0.3125rem;
    display: block;
    margin: 0.75rem auto;
  }

  /*      SKILLS      */
  /* ================ */

  #skills div {
    display: block;
  }

  section fieldset {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 0 0;
    border: 2px solid var(--color-accent-red);
    border-radius: 0.3125rem;
  }

  section:nth-child(4) > div:nth-child(2) > fieldset {
    margin-top: 0.75rem;
  }

  fieldset legend {
    font-weight: bold;
  }

  fieldset img {
    width: 2.5rem;
  }

  /*      PROJECTS    */
  /* ================ */

  .project-grid {
    margin-top: 0.75rem;
  }

  .project {
    margin-bottom: 3rem;
    border: 3px solid var(--color-accent-red);
    border-radius: 0.3125rem;
    padding: 0.5rem;
  }

  .project-header {
    display: flex;
    align-items: center;
  }

  .project-header h3 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .project-header > a:nth-child(2) {
    margin-left: auto;
  }

  .project-header > a {
    border: none;
    margin: 0 0.3125rem;
  }

  .project-header > a > img {
    width: 1.75rem;
  }

  .project-body > div {
    display: flex;
    justify-content: space-around;
  }

  .project-body img {
    width: 2rem;
  }
}
