:root {
  --ff-main: 'Montserrat', sans-serif;
  --color-accent-blue: #a9b3c1;
  --color-accent-red: #fc92a2;
  --font-color-primary: #fff;
  --bg-color-primary: #445d7b;
  --bg-color-primary-drk: #33465c;
  --filter-accent-red: invert(68%) sepia(51%) saturate(7495%) hue-rotate(317deg)
    brightness(92%) contrast(104%);
  --box-shadow-primary: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (min-width: 47.0625rem) {
  /*        GLOBAL       */
  /* ================== */
  html {
    padding: 0 2rem;
    scroll-padding-top: 8rem;
  }

  header,
  section {
    margin: 3.125rem 0;
  }

  section h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
  }

  /*        NAV       */
  /* ================ */

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-color-primary-drk);
    padding-top: 2rem;
  }

  nav h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    border: none;
    text-align: center;
  }

  nav div:first-child a {
    border: none;
    margin: 0;
    padding: 0;
  }

  nav div:first-child img {
    width: 1.75rem;
  }

  nav .nav-link-container a {
    font-size: 1rem;
    margin: 0 1rem;
  }

  /*        HEADER       */
  /* ================== */

  header {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 20vh 0 25vh 0;
  }

  header img {
    width: 25rem;
  }

  header h2,
  h3,
  h4 {
    margin: 1rem 0;
  }

  header h3 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-accent-red);
  }

  header h4 {
    font-weight: bold;
    font-size: 2rem;
  }

  /*        ABOUT       */
  /* ================== */
  #about {
    display: flex;
    justify-content: space-around;
    margin: 20vh 0 25vh 0;
  }

  #about div {
    max-width: 45ch;
  }

  #about div p {
    margin: 1rem 0;
  }

  #about .logo-container {
    align-self: center;
    display: inline-block;
    position: relative;
  }

  #about .logo-container::before {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 100%;
    height: 100%;
    border: 4px solid var(--color-accent-red);
    border-radius: 5px;
    content: '';
    z-index: 0;
    box-shadow: var(--box-shadow-primary);
  }

  #about img {
    position: relative;
    width: 15rem;
    align-self: center;
    border-radius: 5px;
    z-index: 1;
  }

  /*       SKILLS       */
  /* ================== */

  #skills {
    margin: 20vh 0 25vh 0;
  }

  #skills div {
    display: flex;
    margin: 2.5rem 0;
    justify-content: space-around;
    gap: 2rem;
  }

  #skills div fieldset {
    display: flex;
    justify-content: space-around;
    align-self: center;
    min-width: 19rem;
    box-shadow: var(--box-shadow-primary);
  }

  #skills div p {
    min-width: 40ch;
    max-width: 50ch;
  }

  #skills img {
    width: 2.5rem;
    margin: 0 0.625rem;
  }

  /*       PROJECTS     */
  /* ================== */

  .project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .project {
    margin: auto;
    max-width: 20rem;
    min-height: 28rem;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--color-accent-red);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: var(--box-shadow-primary);
  }

  .project h4 {
    margin: 0;
    font-weight: bold;
    font-style: italic;
    color: var(--color-accent-red);
  }

  .project-header {
    display: flex;
  }

  .project-header h3 {
    margin: 0;
    font-size: 1.5rem;
  }

  .project-header a {
    padding: 0;
    border: none;
    margin: 0 0.3125rem;
    align-self: center;
  }

  .project-header a:nth-child(2) {
    margin-left: auto;
  }

  .project-header img {
    width: 2rem;
    align-self: flex-end;
  }

  .project-body p {
    margin: 1rem 0;
  }

  .project-icon-container {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
  }

  .project-icon-container img {
    width: 2rem;
  }

  .project-icon-container img:hover {
    filter: var(--filter-accent-red);
    transform: translateY(-5px);
  }
}
