@media (min-width: 90rem) {
  html {
    font-size: 24px;
  }

  #header > div > p {
    max-width: 60ch;
  }
}

.nav-link-container a {
  font-size: 1.25rem;
  margin: 0 1rem;
}

nav div:first-child img {
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 2rem;
}
