@font-face {
  font-family: Montserrat-VariableFont_wght;
  src: url('./font/Montserrat-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #445d7b;
  color: #fff;
  scroll-behavior: smooth;
}

/* ====UTILITIES==== */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.color-red {
  color: #ef476e;
}

.active--navlink {
  border-bottom: 3px solid #ef476e;
}

/* ====NAVBAR==== */

.navbar {
  max-height: 15vh;
  display: flex;
  align-content: center;
  padding: 5vh 5vw;
  background-color: #445d7b;
  font-size: 1.25rem;
}

.navbar__name {
  text-decoration: none;
  color: #fff;
}

.navbar__social-media--container {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.navbar__social-media--container {
  position: absolute;
  top: 4vh;
  left: 3vw;
}

.navbar__social-media-icon {
  height: 30px;
  width: 30px;
}

.navbar__social-media-icon:hover {
  cursor: pointer;
  filter: invert(42%) sepia(76%) saturate(2373%) hue-rotate(319deg)
    brightness(94%) contrast(99%);
}

.navbar__link--container {
  margin-left: auto;
  display: flex;
  gap: 3rem;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
}

/* ====HERO SECTION==== */

.hero {
  min-height: 87vh;
  max-height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.hero__logo--container {
  max-width: 50vw;
}

.hero__logo {
  max-width: 50vw;
}

.hero__text--container {
  max-width: 50vw;
  font-size: clamp(2rem, 2.5rem, 4rem);
  line-height: 4rem;
}

/* ====ABOUT SECTION==== */

.about {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.about__logo--container {
  max-width: 50vw;
}

.about__logo {
  max-width: 30vw;
}

.about__text--container {
  max-width: 60ch;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.about__text--link {
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid #a9b3c1;
  padding-bottom: 5px;
}

.about__text--link:hover {
  cursor: pointer;
  border-bottom: 3px solid #ef476e;
}

/* ====SKILLS SECTION==== */

.skills {
  min-height: 105vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.skills__text--container {
  max-width: 47.5vw;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.skills__graph--container {
  min-width: 38vw;
  display: flex;
  flex-direction: column;
}

.skill__graph--bar--container {
  display: flex;
  min-width: 100%;
  align-items: center;
  margin-bottom: 2rem;
}

.skill__graph--bar--title {
  margin: 0 0 0.5rem 0;
}

.skill__graph--bar {
  height: 5px;
  width: 0%;
  background-color: #a9b3c1;
  transition: width 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 5px;
}

/* ==== PROJECTS SECTION==== */

.projects {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 14vh 2rem;
}

.projects__title {
  margin: 0 auto 2rem auto;
  font-size: 36px;
}

.projects__container {
  min-width: 50vw;
  min-height: 50vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5rem;
}

.projects__square {
  width: 40vw;
  height: 30vh;
  padding: 1.5rem;
  background-color: #212121;
  border: 1px solid #a9b3c1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project__square--icon {
  width: 25px;
}

.project__icon--sql {
  width: 18px;
}

.external-link-container {
  margin-left: 93%;
  display: flex;
  gap: 10px;
}

.external-link {
  width: 20px;
  filter: invert(95%) sepia(100%) saturate(14%) hue-rotate(213deg)
    brightness(104%) contrast(104%);
  transition: all 0.25s ease-in-out;
}

.external-link:hover {
  transform: translateY(-5px);
  filter: invert(52%) sepia(90%) saturate(4635%) hue-rotate(322deg)
    brightness(98%) contrast(91%);
}

.projects__the-odin-book {
  grid-column-start: 1;
  grid-column-end: span 2;
}
